/* NAVBAR STYLING */
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

.navbar-nav{
    gap: 5rem;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

.nav-link{
    color: black;
}

@media(max-width: 991.98px){
    .navbar-nav{
        gap: 0;
        font-size: .9rem;
        margin-left: 3rem !important;
        margin-top: 1rem;
    }
}

@media(max-width: 552px){
    .navbar{
        padding: .7rem 0rem !important;
    }

   .navbar-brand{  
        margin-left: 1rem !important;
   }

   .navbar-toggler{
    margin-right: 1rem !important;
   }

   .navbar-nav{
    margin-left: 1rem !important;
    margin-top: .4rem;
    }

    .logo{
        width: 12rem;
        height: 2.8rem;
    }
}

@media(max-width: 400px){
    .navbar-brand{  
        margin-left: 0 !important;
   }

   .navbar-toggler{
    margin-right: 0 !important;
   }

    .logo{
        width: 10.5rem;
        height: 2.4rem;
    }
}

/* ===== CONTACT SECTION ===== */
.contact-heading{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 4rem;
}

.tel{
    font-family: 'Montserrat';
    text-decoration: none;
    color: rgb(134, 88, 189);
}

.tel:hover{
    color: #6E3DA9;
}

.email{
    text-decoration: none;
    color: rgb(134, 88, 189);
    font-family: 'Montserrat';
}

.email:hover{
    color: #6E3DA9;
}

/* ====== FORM SECTION ======== */
.label{
    color: rgb(194, 194, 194);
    font-size: 1.3rem;
}
.input::placeholder{
    color: lightgrey;
    font-size: 1.1rem;
    font-weight: 100;
}

small{
    color: rgb(152, 152, 152);
}

.input:focus{
    border: 2px solid rgba(134, 88, 189, .6) !important;
    outline: 4px solid rgba(134, 88, 189, .3) !important;
    box-shadow: none !important;
    caret-color: rgba(134, 88, 189, .4) !important;

}

.submit-btn{
    background: rgb(134, 88, 189);
}

.submit-btn:hover{
    background: #6E3DA9 !important;
}

.submit-btn:focus{
    outline: 3px solid rgba(134, 88, 189, .3) !important;
}

@media(max-width: 767.98px){
    .contact-heading{
        font-size: 3rem !important;
    }

    .tel{
        font-size: 1.1rem !important;
    }

    .email{
        font-size: 1.2rem !important;
    }

    .label{
        font-size: 1.1rem;
    }

    .form-col{
        margin: 3rem 0rem !important;
    }

    .submit-btn{
        font-size: 1.1rem !important;
    }
}

@media(max-width: 575.98px){
    .detail-col{
        width: 100% !important;
        padding: 0rem 1rem !important;
    }

    .form-col{
        width: 100% !important;
        padding: 0rem 1rem !important;
    }
}

/* EIGHTH SECTION */
.eighth-row{
    background: url('../image/contact-overlay.3bbaddf71379.png'), linear-gradient(rgba(140, 94, 197, 1), rgba(140, 94, 197, 1));
    background-repeat: no-repeat;
    background-size: cover;
}

.eighth-col{
    width: 62%;
}

.eighth-btn{
    letter-spacing: 2px;
    font-family: 'Montserrat';
    font-weight: 500;
}

@media(max-width: 991.98px){
    .eighth-row{
        flex-direction: column;
        gap: 2rem;
    }

    .eighth-col{
        margin: 0 !important;
        width: 75%;
        text-align: center;
    }

    .eighth-col2{
        width: 100%;
        margin: auto;
    }
}

@media(max-width: 767.98px){
    .eighth-btn{
        padding: 1rem 1.5rem !important;
        font-size: .9rem;
    }
}

/* FOOTER SECTION */
.footer{
    background: black;
}

.footer-col{
    width: 25%;
}

.footer-gray{
    font-size: .8rem;
}

@media(max-width: 991.98px){
    .footer-col{
        width: 40%;
    }

    .footer-list{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media(max-width: 767.98px){
    .footer{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .footer-col{
        width: 80%;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .footer-list{
        margin: 0 !important;
    }

    .footer-icon{
        width: fit-content;
        margin: auto;
    }

    .oz{
        border-top: 1.5px solid gainsboro;
    }
}