/* Admin dashboard section */
.navbar{
    /* background: rgb(141, 78, 217); */
}


.wrapper, .sidebar{
    height: 90vh;
    overflow-y: auto;
}

.wrapper .sidebar{
    background-color: rgb(243, 243, 243);
    width: 20%;
}

.navbar .container-fluid .sidebar-btn{
    display: none;
}


.wrapper .mainbar{
    width: 80%;
    height: 90vh;
    overflow-y: auto;
}

@media (max-width: 991.98px){
    .navbar .container-fluid .sidebar-btn{
        display: block;
    }
   

    .wrapper .sidebar{
        display: none !important;
    }

    .wrapper .mainbar{
        width: 100% !important;
    }

}
