/* Admin dashboard section */

.navbar{
position: fixed;
width: 100%;
z-index: +2;
top: 0;
z-index: +9999;
}

.wrapper{
    margin-top: 3.5rem;
    height: 100vh;
    overflow-y: hidden;
}

.wrapper .sidebar{
    position: fixed;
    left: 0;
    background-color: rgb(243, 243, 243);
    width: 22%;    
}

.wrapper .sidebar .user-wrapper{
    width: inherit;
    left: 0;
    height: 100vh;
}

.wrapper .sidebar .user-wrapper .user-container{
    background-color: white !important;
    width: 95%;
}

.dropdown-menu{
    margin-left: -8rem !important;
    margin-top: .5rem !important;

}

.mainbar .container-fluid .analystic .icon{
    background: white;
}

.mainbar .table-row{
    overflow-x: auto;
}

.fa-comments, .fa-users{
    font-size: 4rem !important;
}

.wrapper .mainbar{
    width: 78%;
}

@media (max-width: 991.98px){
    .navbar .container-fluid .sidebar-btn{
        display: block !important;
    }
   

    .wrapper .sidebar{
        display: none !important;
    }

    .wrapper .mainbar{
        width: 100% !important;
    }

}

.mainbar .container-fluid .form-row .icon{
    background: white;
}

input:focus{
    border: 2px solid rgba(134, 88, 189, .6) !important;
    outline: 4px solid rgba(134, 88, 189, .3) !important;
    box-shadow: none !important;
    caret-color: rgba(134, 88, 189, .4) !important;

}

.submit-btn{
    background: rgb(134, 88, 189);
}

.submit-btn:hover{
    background: #6E3DA9 !important;
}

.submit-btn:focus{
    outline: 3px solid rgba(134, 88, 189, .3) !important;
}

@media (max-width: 575.98px){
    .form-wrapper{
        padding-left: 1rem !important;
        padding-right: 1rem !important;

    }
}